<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="http://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div id="brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/">Privacy</a>
            <a href="/">Term</a>
        </div>
    </div>   
</footer>