<style>
  .search-btn {
    background-color: #fe424d;
    color: white !important;
    border-radius: 20px;
  }
  .search-btn:hover{
    background-color: #fe424d;
  }
  .search-btn i {
    margin-right: 5px;
  }
  .search-text {
    display: inline-block;
  }
  .search-box{
    border-radius: 20px;
    margin-right: 0.7rem;
    width:20rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">All Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="form-inline d-flex">
          <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search-btn" type="submit"><i
              class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Add New Listing</a>
        <%if(!currUser){%>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <%}%>
            <%if(currUser){%>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
              <%}%>
      </div>
    </div>
  </div>
</nav>